<div class="">
   <div class="">
      <div class="">
         <h1>Sign in to your account</h1>
      </div>
      <div class="">
         {% form 'customer_login' %}
            <div class="">
               <label for="email" class="sr-only">Email</label>
               <input type="email" name="customer[email]" autocomplete="email" id="email" placeholder="Email"/>               
            </div>
            {% if form.password_needed %}
               <label for="password" class="sr-only">Password</label>
               <input type="password" name="customer[password]" autocomplete="current-password" id="password" placeholder="Password"/>
            {% endif %}
            
         {% endform %}
      </div>
   </div>
</div>