<div class="">
   <div class="">
      <div class="">
         <h1>Sign in to your account</h1>
      </div>
      <div class="">
         {% form 'customer_login' %}
            ...
         {% endform %}
      </div>
   </div>
</div>